<!DOCTYPE html>
<html>
{% include head.html %}
<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
  {% if site.google_tag_manager %}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% endif %}
	{% if site.facebook_comments %}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId={{ site.facebook_appid }}";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	{% endif %}

  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>

<!--math support-->
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
   extensions: ["tex2jax.js", "[Contrib]/mhchem/mhchem.js", "[Contrib]/physics/physics.js", "[Contrib]/siunitx/siunitx.js", "[MathJax]/extensions/TeX/cancel.js"],
   tex2jax: {
     inlineMath: [ ['$','$'], ["\\(","\\)"] ],
     displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
     processEscapes: true
   },
   CommonHTML: { linebreaks: { automatic: true } },
  "HTML-CSS": { linebreaks: { automatic: true } },
   SVG: { linebreaks: { automatic: true } },
   TeX: { equationNumbers: { autoNumber: "AMS" },
           Macros: {card: ["{\\text{card}\\left( #1 \\right)}", 1],
                    ind: "\\perp\\!\\!\\!\\perp",
                    nind: "\\perp\\! \\! \\! \\perp \\! \\! \\! \\! \\! \\!/ \\ \\",
                    cov: ["\\text{Cov}\\left( #1 \\right )", 1],
                    Bin: "\\text{Bin}",
                    sample: ["#1_1,...,#1_{#2}", 2],
                    P: ["\\mathbb{P}\\left( #1 \\right)", 1],
                    E: ["\\mathbb{E}\\left( #1 \\right)", 1],
                    N: "\\mathcal{N}",
                    I: ["\\mathcal{I}\\left( #1 \\right)", 1],
                    R: "\\mathbb{R}",
                    impl: "\\Rightarrow",
                    as: "\\equiv",
                    up: "\\lvert",
                    bigup: "\\bigg\\lvert",
                    Var: ["\\text{Var}\\left ( #1 \\right)", 1],
                    lset: "\\lbrace",
                    rset: "\\rbrace",
                    set: ["\\left \\lbrace #1 \\right \\rbrace", 1],
                    sor: "\\cup",
                    sand: "\\cap",
                    cor: ["\\text{Corr}\\left( #1 \\right)", 1],
                    Li: ["\\mathcal{L}\\left ( #1 \\right )", 1],
                    li: ["\\ell \\left ( #1 \\right)", 1],
                    add: ["#1_{1} + \\dots + #1_{#2}", 2],
                    mult: ["#1_1#1_2\\dots#1_{#2}", 2],
                    mpdv: ["\\frac{\\partial^{#1}{#2}}{\\partial #3^{#1}}", 3],
                    mdv: ["\\frac{d^{#1}{#2}}{d #3^{#1}}", 3],
                    mfdv: ["\\frac{\\delta^{#1}{#2}}{\\delta #3^{#1}}", 3],
                    bs: ["\\sum_{#1 = #2}^{#3}", 3],
                    bel: ["\\underbrace{#1}_{#2}", 2],
                    geom: "\\text{Geom}",
                    mode: "\\text{Mode}",
                    med: "\\text{Median}",
                    tqt: "Q_{3}",
                    iqr: "IQR",
                    qt: ["{#1}_{#2}", 2],
                    Min: "\\text{Min}",
                    Max: "\\text{Max}",
                    mx: ["\\max \\left \\lbrace #1 \\right \\rbrace", 1],
                    mn: ["\\min \\left \\lbrace #1 \\right \\rbrace", 1],
                    evl: "\\bigg \\lvert",
                    ord: ["{#1}_{(#2)}", 2],
                    pois: "\\text{Pois}",
                    bern: "\\text{Bern}",
                    gam: "\\text{Gam}",
                    pareto: "\\text{Pareto}",
                    cauchy: "\\text{Cauchy}",
                    nbin: "\\text{NegBin}",
                    hypgeo: "\\text{HypGeo}",
                    expo: "\\text{Exp}",
                    distas: ["\\stackrel{#1}{\\sim}", 1],
                    Beta: "\\text{Beta}",
                    fqt: "Q_1",
                    evals: ["#1 \\left \\lvert", 1],
                    al: "\\alpha",
                    be: "\\beta",
                    ga: "\\gamma",
                    de: "\\delta",
                    ep: "\\epsilon",
                    ze: "\\zeta",
                    ta: "\\theta",
                    io: "\\iota",
                    kap: "\\kappa",
                    lam: "\\lambda",
                    omc: "\\omicron",
                    ups: "\\upsilon",
                    om: "\\omega",
                    sig: "\\sigma",
                    Ga: "\\Gamma",
                    De: "\\Delta",
                    Ta: "\\Theta",
                    Lam: "\\Lambda",
                    Ups: "\\Upsilon",
                    Om: "\\Omega",
                    Sig: "\\Sigma"}}
 });
</script>
<script src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</html>
